Repository XavierGuertin/WildfireVisualizationProject, pull requests merged in 2024-11, with the labels that each got.

#60 #34 - feat(actions): Adding Docker Build CI/CD to the Pipeline
  .github/workflows/docker-build.yml
Labels: enhancement, Project Setup

#61 #47 - feat(frontend): Added the UI component for MetaData
  apps/frontend/src/app/components/MapMetaData.tsx
Labels: enhancement, User Story, Front End

#65 #36 - feat(docker): Containerized GeoServer
  apps/frontend/Dockerfile
  docker-compose.yml
Labels: enhancement, User Story, Project Setup, P-H, R-H

#71 #70 - feat(backend): Implement Initial Data Retrieval from JSON File in Spring Boot Backend
  .github/workflows/docker-build.yml
  .gitignore
  apps/backend/pom.xml
  apps/backend/src/main/java/com/example/backend/BackendApplication.java
  apps/backend/src/main/java/com/example/backend/config/WebConfig.java
  apps/backend/src/main/java/com/example/backend/controller/DataController.java
  apps/backend/src/main/resources/synthetic_wildfire_collection.json
  apps/frontend/eslint.config.js
  apps/frontend/next.config.js
  apps/frontend/src/app/components/MapView.tsx
  apps/frontend/src/app/components/Sidebar.tsx
  package-lock.json
  package.json
Labels: enhancement, Back End

#56 #39 - feat(unit-test): updated dependencies and created sample test for jest tests
  .nyc_output/4e8ef6d3-807a-4fbd-9eeb-a3e56abdd914.json
  .nyc_output/5a2af4a0-cc1b-487a-9989-c724460e61ac.json
  .nyc_output/80075d7f-1ea9-4485-90a2-fdf439f9857b.json
  .nyc_output/8920f651-e3ad-4bbc-a11f-a32a6726ca94.json
  .nyc_output/processinfo/4e8ef6d3-807a-4fbd-9eeb-a3e56abdd914.json
  .nyc_output/processinfo/5a2af4a0-cc1b-487a-9989-c724460e61ac.json
  .nyc_output/processinfo/80075d7f-1ea9-4485-90a2-fdf439f9857b.json
  .nyc_output/processinfo/8920f651-e3ad-4bbc-a11f-a32a6726ca94.json
  .nyc_output/processinfo/index.json
  .vscode/extensions.json
  apps/backend/pom.xml
  apps/backend/src/main/java/com/example/backend/BackendApplication.java
  apps/backend/src/main/java/com/example/backend/backend/BackendSampleForTesting.java
  apps/backend/src/test/java/com/example/backend/BackendApplicationTests.java
  apps/backend/src/test/java/com/example/backend/backendTests/BackendSampleJUnitTest.java
  apps/frontend-e2e/.nyc_output/out.json
  apps/frontend/.babelrc
  apps/frontend/__mocks__/styleMock.js
  apps/frontend/__tests__/Test.spec.tsx
  apps/frontend/__tests__/TestLoadingComponent.spec.tsx
  apps/frontend/jest.config.ts
  apps/frontend/project.json
  apps/frontend/specs/index.spec.tsx
  apps/frontend/src/components/Test.tsx
  apps/frontend/tsconfig.spec.json
  babel.config.js
  nx.json
  package-lock.json
  package.json
  sonar-project.properties
Labels: enhancement, Front End, Back End, P-H

#67 #48 - feat(frontend): Added Sidebar for Available Datasets
  apps/frontend/src/app/components/AvailableDatasets.tsx
  apps/frontend/src/app/components/MapMetaData.tsx
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/app/styles/AvailableDatasets.css
Labels: enhancement, User Story, Front End, P-H, R-M

#89 #26 - feat(frontend): Synthetic Wildfire Simulation Controls
  apps/frontend/package.json
  apps/frontend/src/app/components/Footer.tsx
  apps/frontend/src/app/components/MapView.tsx
  apps/frontend/src/app/components/Sidebar.tsx
  apps/frontend/src/app/styles/footer.css
  package-lock.json
  package.json
Labels: User Story, Front End, P-H, R-H

#90 #53 - fix(UI): Added the loading bar for datasets for UI purposes
  apps/frontend/src/app/components/AvailableDatasets.tsx
Labels: Front End

#94 #88 - Fix(UI): Fixed the gap preventing full-screen elements
  apps/frontend/src/app/components/Sidebar.tsx
  apps/frontend/src/app/layout.css
  apps/frontend/src/app/layout.tsx
Labels: bug

#95 #91 - feat(backend) - Add logging
  apps/backend/pom.xml
  apps/backend/src/main/java/com/example/backend/BackendApplication.java
  apps/backend/src/main/resources/application.properties
  apps/backend/src/main/resources/log4j2-spring.xml
Labels: enhancement, Back End, P-H, R-M

#97 #47 - feat(frontend) - Added Unit Tests and Toggleability to the Metadata
  apps/frontend/__tests__/MapMetaData.spec.tsx
  apps/frontend/src/app/components/MapMetaData.tsx
  apps/frontend/src/app/styles/MapMetaData.css
Labels: enhancement, Front End

#113 100-feat(frontend): Added Endpoint Modification Prompt in Settings Button
  apps/frontend/__tests__/TestSettingsPanelComponent.spec.tsx
  apps/frontend/src/app/components/SettingsPanel.tsx
  apps/frontend/src/app/styles/SettingsPanel.css
Labels: Front End
