Repository XavierGuertin/WildfireVisualizationProject, pull requests merged in 2025-03, with the labels that each got.

#205 #52 - feat: Toggle - Filter Datasets By Region
  apps/backend/src/main/java/wildfire/visualization/backend/controller/DataController.java
  apps/backend/src/main/java/wildfire/visualization/backend/repository/StacRepository.java
  apps/backend/src/main/java/wildfire/visualization/backend/service/ConfigService.java
  apps/backend/src/main/java/wildfire/visualization/backend/service/DataService.java
  apps/backend/src/test/java/wildfire/visualization/backend/controller/DataControllerTests.java
  apps/backend/src/test/java/wildfire/visualization/backend/repository/StacRepositoryTests.java
  apps/backend/src/test/java/wildfire/visualization/backend/service/DataServiceTests.java
  apps/frontend/__tests__/TestAvailableDatasetsComponent.spec.tsx
  apps/frontend/__tests__/TestMapView.spec.tsx
  apps/frontend/src/app/components/AvailableDatasets.tsx
  apps/frontend/src/app/components/MapView.tsx
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/app/resources/i18n.tsx
  apps/frontend/src/app/services/api.ts
  apps/frontend/src/app/styles/AvailableDatasets.css
  apps/frontend/src/app/testComponents/TestStac.tsx
  package-lock.json
  package.json
Labels: enhancement, Front End, Back End

#264 #214 - feat(backend): Implemented GlobalExceptionHandling
  .gitignore
  apps/backend/src/main/java/wildfire/visualization/backend/controller/ConfigController.java
  apps/backend/src/main/java/wildfire/visualization/backend/controller/DataController.java
  apps/backend/src/main/java/wildfire/visualization/backend/controller/TestController.java
  apps/backend/src/main/java/wildfire/visualization/backend/exception/ConfigException.java
  apps/backend/src/main/java/wildfire/visualization/backend/exception/DataException.java
  apps/backend/src/main/java/wildfire/visualization/backend/exception/GlobalExceptionHandler.java
  apps/backend/src/main/java/wildfire/visualization/backend/exception/RepositoryException.java
  apps/backend/src/main/java/wildfire/visualization/backend/exception/TestException.java
  apps/backend/src/main/java/wildfire/visualization/backend/model/ApiError.java
  apps/backend/src/main/java/wildfire/visualization/backend/repository/StacRepository.java
  apps/backend/src/main/java/wildfire/visualization/backend/service/ConfigService.java
  apps/backend/src/main/java/wildfire/visualization/backend/service/DataService.java
  apps/backend/src/test/java/wildfire/visualization/backend/controller/ConfigControllerTests.java
  apps/backend/src/test/java/wildfire/visualization/backend/controller/DataControllerTests.java
  apps/backend/src/test/java/wildfire/visualization/backend/controller/TestControllerTests.java
  apps/backend/src/test/java/wildfire/visualization/backend/repository/StacRepositoryTests.java
  apps/backend/src/test/java/wildfire/visualization/backend/service/ConfigServiceTests.java
  apps/backend/src/test/java/wildfire/visualization/backend/service/DataServiceTests.java
  apps/frontend/src/app/components/AvailableDatasets.tsx
  apps/frontend/src/app/components/LoadingModule.tsx
  apps/frontend/src/app/components/MapMetaData.tsx
  apps/frontend/src/app/context/MapContext.tsx
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/app/services/api.ts
  sonar-project-backend.properties
Labels: enhancement

#273 #238 - fix(frontend): Remove Print Statements for Map Extent
  apps/frontend/src/app/components/MapView.tsx
Labels: bug, Front End

#274 #266 - fix(frontend): Add Missing French Translations for AvailableDatasets component
  apps/frontend/__tests__/TestAvailableDatasetsComponent.spec.tsx
  apps/frontend/src/app/components/AvailableDatasets.tsx
  apps/frontend/src/app/resources/i18n.tsx
Labels: bug, Front End

#317 #316 - fix(frontend): Loading Bar Changes Position
  apps/frontend/src/app/components/MapMetaData.tsx
  apps/frontend/src/app/styles/LoadingModule.css
Labels: bug
